<!doctype html>
<html>
    <!-- this page will form the base of the data page that will later fill this page-->
    <head>
        <!-- importing the bootstrap fie bar on to the webpage -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <!-- this link is to the custom css file that was created to help establish a base that we can work off of -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_2.css') }}">
        <!-- setting the title as part of the template -->
        <title>{% block title %} {% endblock %} </title>
        {% block head_add %}
        {% endblock %}

        <!-- adding the navigation bar to the project -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-red py-4">
            <!-- anchor tag to bring the clicker to the general fusion webpage for more information-->
          <a class="navbar-brand" href="">General Fusion</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
              <!-- displays on the right-hand side of the navbar a register button and the login button-->
              <ul class="nav navbar-nav navbar-right">
                  <!-- register redirects to \register -->
                  <li><a href=""><span class="glyphicon glyphicon-user white">Placeholder&nbsp;</span></a></li>
                  <!-- Login redirects to \login -->
                  <li><a href=""><span class="glyphicon glyphicon-log-in white">Placeholder </span></a></li>
             </ul>
          </div>
        </nav>
    </head>

    <body onload = {{ script }}>
        <!-- this is to implement jquery on to the webpage-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </body>
</html>